html, body {
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #b3b3b3;
}

a:hover {
  color: #b3b3b3;
  opacity: 0.5;
}

hr {
  background-color: #ededed;
  width: 75%;
}

/* HEADER NAVBAR */

.header {
  min-height: 10vh;
  background-color: #000;
  border-bottom: solid #ededed 1px;
}

.logo {
  color: #ededed;
  margin-left: 1%;
}

/* SIDEBAR */

.sidebar {
  min-height: 100vh;
  background-color: #000;
  max-width: 15%;
  border-right: solid #ededed 1px;
}

.sidebar-content {
  padding-top: 45%;
}
